	body {
		margin:0;
		padding:0;
		text-align:center;
	}
	.content-block {
		position:relative;
		width:90%;
		height:200px;
		margin:20px auto;
		overflow:hidden;
	}
	.text {
		font:30px / 30px sans-serif;
		z-index:10;
		width:200px;
		position:absolute;
		top:85px;
		left:50%;
		margin-left:-50px;
		color:#fff;
		text-shadow:0 0 10px #000;
		text-align:center;
	}
	.bg {
		z-index:1; /* put it below the text */
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:url('front.png') 0 0, url('middle.png') 40% 0, url('back.png') 80% 0, #000;
		-webkit-transition: left 300s linear;
		   -moz-transition: left 300s linear;
		     -o-transition: left 300s linear;
		        transition: left 300s linear;
	}
	#bg-hover:hover, #bg-target:target {
		left:-9999px;
	}
	#bg-keyframes {
		-webkit-animation: moving-images 400s linear infinite;
		   -moz-animation: moving-images 400s linear infinite;
		     -o-animation: moving-images 400s linear infinite;
		        animation: moving-images 400s linear infinite;
	}
	@keyframes moving-images {
		0%   {left:0;}
		50%  {left:-9999px;}
		100% {left:0;}
	}
	@-moz-keyframes moving-images { 
		0%   {left:0;}
		50%  {left:-9999px;}
		100% {left:0;}
	}
	@-webkit-keyframes moving-images { 
		0%   {left:0;}
		50%  {left:-9999px;}
		100% {left:0;}
	}
	@-o-keyframes moving-images { 
		0%   {left:0;}
		50%  {left:-9999px;}
		100% {left:0;}
	}
